/**
 * @file
 * Styles for the media derivatives status library.
 */
 
.derivatives-fieldset.fieldset {
  width: 300px;
  float: left;
  margin-right: 10px;
}

.derivatives-fieldset .media-item {
  float: left;
}

.derivatives-fieldset a {
  display: inline-block;
  color: white;
  
  padding: 0.643em 1.5em;
  font-size: 1.077em;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.derivative-remove-button {
  background: #ff0300;
}

a.derivative-remove-button:hover {
  background: #00bb00;
}